/*
 * CSS Styles for Application
 *
 */

/* Resets */
body,p,h1,h2,h3,h4,h5,h6,div,span,header,footer,img,a,a:hover,a:active,a:visited,table,tr,td,th,form,input,button,select,textarea{
  line-height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #1a1a1a;
  border-width: 0;
}

.clear{
  float: none;
  width: 100%;
  height: 1px;
}

/* Main color palette */
.header{
  background-color: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 -25px 11px 20px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  min-width: 1200px;
}

.header ul{
  list-style-type: none;
  text-align: right;
  padding: 0 75px;
  float: right;
}

.header ul li{
  display: inline-block;
  padding: 10px 10px 0 10px;
}

.header ul li a{
  text-transform: uppercase;
  font-weight: 900 !important;
  font-size: 11px;
}

.header ul li.loggedIn{
  display: none;
}

body.loggedIn .header ul li.loggedIn{
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut{
  display: none;
}

.header .logo{
  text-align: left;
  padding: 0 0 0 90px;
  float: left;
}

.header .logo img{
    width: 50px;
}

.content {
  margin-top: 150px;
  width: 1000px;
  margin: 150px auto;
}

.footer{
  width: 100%;
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
  border-width: 1px 0 0 0;
  border-color: #fff;
  border-style: solid;
}

.footer .copyright{
  color: #fff;
  font-size: 10px;
}

/* Index */
h1{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 5px 0;
}

h2{
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 20px 0;
}

body.index .blurb{
  text-align: center;
  background-color: #ececec;
  border-color: #b3b3b3;
  border-style: dotted;
  border-width: 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 500px;
  line-height: 150%;
  font-size: 14px;
}

.ctaWrapper{
  text-align: center;
}

.cta,a.cta:hover,a.cta:active,a.cta:visited,button.cta:hover,button.cta:active,button.cta:visited{
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  cursor: pointer;
}

.cta.blue{
  background-color: #214478 !important;
}

.cta.green{
  background-color: #217844 !important;
}

.cta.red{
  background-color: #c83737 !important;
}

.warning{
  font-style: italic;
  color: #c83737;
  font-size: 17px;
  text-align: center;
  line-height: 150%;
  padding: 0 0 20px 0 ;
}

/* Form Styling for Account Creation page and others */
.formWrapper{
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.formError{
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess{
  display: none;
  background-color: #217844;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

hr {
  margin: 30px 0;
}

input,select,option {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

.checkboxGroup input{
  display: inline-block;
  width: initial;
  margin: 20px;
}

input.disabled{
  background-color: #efefef;
}

.inputWrapper{
  padding: 0 0 20px 0;
}

.inputLabel{
  padding: 0 0 5px 0;
  color: #808080;
}

.backButton{
  text-transform: uppercase;
  font-weight: bold !important;
  display: inline-block !important;
  width: 100px;
  padding: 7px !important;
  color: #fff !important;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

table{
  width: 100%;
}

tr{
  width: 100%;
}

th{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-color: #000;
  border-style: dotted;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #efefef;
}

td{
  padding: 5px;
}

td a, td a:hover, td a:active{
  color: #2e5fa8;
  text-decoration: underline;
  cursor: pointer;
}

/* Page specific styles for dashboard */

#noChecksMessage td{
  text-align: center;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

#noChecksMessage{
  display: none;
}

#createCheckCTA{
  margin-top: 40px;
  display: none;
}
