<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptime monitoring for HTTP/HTTPS sites all kinds. When your site goes down, we'll send you a text to let you know. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et congue leo. Donec non congue arcu, quis rutrum ipsum. Sed ipsum tellus, pretium et orci ut, ultricies venenatis metus. Sed faucibus orci eget viverra feugiat. Vestibulum eu enim vel odio rutrum ultrices. Aliquam suscipit magna sit amet leo elementum maximus at at urna. Etiam facilisis ornare augue, non pulvinar nisl aliquam sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu felis lacus. In tristique vel erat porta auctor. Donec at turpis efficitur, vehicula est non, pharetra est.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
