/*
 * CSS Styles for Application
 *
 */

/* Resets */
body,p,h1,h2,h3,h4,h5,h6,div,span,header,footer,img,a,a:hover,a:active,a:visited,table,tr,td,th,form,input,button,select,textarea{
  line-height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #1a1a1a;
  border-width: 0;
}

.clear{
  float: none;
  width: 100%;
  height: 1px;
}

/* Main color palette */
.header{
  background-color: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 -25px 11px 20px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  min-width: 1200px;
}

.header ul{
  list-style-type: none;
  text-align: right;
  padding: 0 75px;
  float: right;
}

.header ul li{
  display: inline-block;
  padding: 10px 10px 0 10px;
}

.header ul li a{
  text-transform: uppercase;
  font-weight: 900 !important;
  font-size: 11px;
}

.header .logo{
  text-align: left;
  padding: 0 0 0 90px;
  float: left;
}

.header .logo img{
    width: 50px;
}

.content {
  margin-top: 150px;
  width: 1000px;
  margin: 150px auto;
}

.footer{
  width: 100%;
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
  border-width: 1px 0 0 0;
  border-color: #fff;
  border-style: solid;
}

.footer .copyright{
  color: #fff;
  font-size: 10px;
}
